InfraredDataTransfer/.vscode/ipch/c47830c27f34e624/MAIN.ipch
InfraredDataTransfer/.vscode/ipch/c47830c27f34e624/MAIN.ipch
InfraredDataTransfer/.vscode/ipch/c47830c27f34e624/MAIN.ipch
InfraredDataTransfer/.vscode/ipch/7dd7ceaeeee3c5a7/MANCHESTERENCODER.ipch
InfraredDataTransfer/.vscode/